.about-container {
    background-color: #d4cd7d;
    color: #333;
}

.hero {
    background-size: cover;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.2rem;
}

.section-title {
    margin-top: 50px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
  }